@media only screen and (max-width: 500px) and (min-height: 741px) {
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
